# Maven
**/target/
.mvn/

# IDE
.idea/
.project
.classpath
.settings/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
**/logs/
*.log

/bin/

COMPREHENSIVE_DOCUMENTATION.md

infra/src/main/resources/google-credentials.json

.env